* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #101010;
    color: white;
}

.container {
    width: 100%;
    padding: 15% 5vw;
}

.formHeader {
    width: 100%;
    font-weight: bold;
    font-size: 3rem;
    margin: 10% 0;
}

#username,
#password {
    all: unset;
    width: 90%;
    border-radius: 18px;
    border: 1px solid white;
    background: transparent;
    padding: 18px 10px;
    font-size: 1.1rem;
    margin-top: 30px;
}

.genderCont {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 3vw;
    font-weight: bold;
    font-size: 1.1rem;
}

textarea {
    margin-top: 30px;
    width: 95%;
    border: 1px solid white;
    outline: none;
    border-radius: 23px;
    background: transparent;
    padding: 3vw;
    color: white;
}

#message {
    text-align: center;
    margin-top: 30px;
    color: red;
    font-weight: 600;
    font-size: 1rem;
}

button {
    min-width: 40%;
    border-radius: 18px;
    padding: 11px 10px;
    background: #ed6215;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    font-family: Monospace;
    transition: opacity 0.3s ease in out;
    margin: 20px 30%;
}

#home {
    padding: 4vw;
}

#home #name {
    color: #fcc4f1;
}

#home h1 {
    width: 100%;
    word-wrap: break-word;
}

#home h2 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 40%;
}

#home button {
    margin: 20%;
    min-width: 60%;
    background: #45e283;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vw;
}

nav a {
    all: unset;
    font-weight: bold;
    font-size: 1.5rem;
    color: #48f4ea;
    appearance: none;
    font-family: Monospace;
    -webkit-tap-highlight-color: transparent;
}
a {
    -webkit-tap-highlight-color: transparent;
}
main {
    padding: 5% 5vw;
    height: 100%;
}

ul {
    padding-left: 8vw;
}

#galleryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#galleryContainer div {
    width: 90%;
    height: 30vh;
    background: green;
    border-radius: 23px;
    overflow: hidden;
}

#galleryContainer div img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
